.wrapper {
	display: none;
}

.Breadcrumbs {
	font-size: 0.8rem;
}

.Breadcrumbs > ol {
	background-color: transparent;
	margin: 0;
}

.Breadcrumbs,
.Breadcrumbs a {
	font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 992px) {
	.wrapper {
		display: block;
	}
}
