.summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}

.summaryTitle {
	padding: 0.8rem;
	width: 100%;
	text-align: center;
	border-bottom: var(--std-border);
}

.summaryTitle h6 {
	margin: 0;
}

.summaryBody {
	min-height: 50px;
	width: 100%;
	padding: 0 1rem;
}

.bodyPair {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	font-weight: bold;
}

.bodyPair .value {
	color: gray;
}

.total .value {
	color: var(--c-dark);
	font-size: 1.4rem;
}

#btn {
	letter-spacing: 2px;
	padding: 0.8rem 2rem;
	border-radius: 2px;
	border: none;
	background-color: var(--c-dark);
	font-family: var(--mont);
	font-weight: bold;
}

#btn:hover,
#btn:active {
	font-weight: bold;
	border: none;
	background-color: var(--c-dark-hover);
	font-family: var(--mont);
}

#btn:active {
	transform: scale(0.98);
}

#btn:focus {
	box-shadow: none;
}

.btnWrap {
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-top: var(--std-border);
	width: 100%;
}
