.Footer {
	background-color: white;
	color: var(--c-dark);
	padding: 0.5rem;
}

.company {
	padding: 4rem 0 6rem 0;
}

.company > * {
	padding: 1.4rem;
}

.company .sectionHeading {
	margin: 2rem 0;
}

.company .mailContainer {
	color: white;
	margin-top: 1rem;
	border-bottom: 2px solid white;
}

.mailContainer > button {
	color: white;
}

.mailContainer > input {
	color: white;
}

.mailContainer > input:focus {
	background-color: inherit;
	color: inherit;
}

.copy {
	display: flex;
	justify-content: center;
}

.legalLinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bottom {
	color: var(--gray);
	margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
	.copy {
		justify-content: flex-start;
	}

	.legalLinks {
		flex-direction: row;
		justify-content: flex-end;
	}

	.legalLinks > li {
		margin: 0 0.4rem;
	}
}
