.Navbar {
	position: relative;
	padding: 0.5rem;
	width: 100%;
	z-index: 100;
}

.collapseable {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Navlinks {
	align-items: center;
}

@media only screen and (min-width: 992px) {
	.Navbar {
		padding: 0.5rem 2rem;
		font-size: 1.2rem;
	}
	.collapseable {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
}
