.Navbar {
	align-items: center;
	position: fixed;
	padding: 0.5rem;
	width: 100%;
	z-index: 100;
	transition: all 200ms linear;
	background-color: white;
	box-shadow: var(--box-shadow-down);
	-webkit-box-shadow: var(--box-shadow-down);
	-moz-box-shadow: var(--box-shadow-down);
}

.collapseable {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	padding: 2rem;
	height: 100vh;
	transform: translateX(-100%);
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	max-width: 80vw;
}

.stick {
	position: fixed;
	background-color: white;
}

.show {
	transform: translate(0);
}

.Navlinks {
	align-items: flex-start;
}

@media only screen and (min-width: 992px) {
	.Navbar {
		padding: 0.5rem 2rem;
		font-size: 1.2rem;
		background-color: initial;
		box-shadow: unset;
		-webkit-box-shadow: unset;
		-moz-box-shadow: unset;
	}

	.collapseable {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		position: static;
		background-color: transparent;
		padding: initial;
		height: auto;
		transform: initial;
	}

	.scrolled {
		background-color: white;
		box-shadow: var(--box-shadow-down);
		-webkit-box-shadow: var(--box-shadow-down);
		-moz-box-shadow: var(--box-shadow-down);
	}
}
