.Hero {
	position: relative;
	height: 95vh;
	display: flex;
	align-items: center;
	background-color: var(--c-dark);
}

.Hero .content {
	font-size: 22px;
	color: var(--c-light);
	background-color: rgba(0, 0, 0, 0.932);
	padding: 1rem 2rem 0 2rem;
}

.Hero .heading {
	margin: 1rem 0;
}

.button {
	letter-spacing: 2px;
	margin: 2rem 0;
	padding: 0.8rem 2rem;
	border-radius: 1px;
}

.bg {
	z-index: 0;
}

@media only screen and (min-width: 992px) {
	.Hero .content {
		font-size: 26px;
	}
}
