.Gallery {
	padding: 4rem 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--mont);
	margin: 1rem;
}

.imagecont {
	position: relative;
}

.cardbody {
	padding: 1rem 0.5rem;
	background-color: antiquewhite;
}

.price {
	color: gray;
}
