.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--mont);
	margin: 1rem;
	background-color: white;
	padding: 1rem;
	border: var(--std-border);
	border-radius: 1em;
}

.imagecont {
	position: relative;
}

.cardbody {
	padding: 1rem 0.5rem 0 0.5rem;
}

.cardtitle {
	font-weight: bold;
}

.price {
	color: gray;
}
