.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--mont);
    margin: 1rem 0;
    background-color: white;
}

.imagecont {
    position: relative;
}

.cardbody {
    padding: 1rem 0.5rem 0 0.5rem;
}

.cardtitle {
    font-weight: bold;
}

.price {
    color: gray;
}
