.Layout {
    /* needed for positioning the Header to the top of the page without being sticky */
    position: relative;
}

.Layout main {
    padding: 7rem 0;
}

@media only screen and (min-width: 992px) {
    .Layout main {
        padding: 4rem 0;
    }
}
